@import './base.css';
@import './reset.css';

#app {
    width: 100%;
    margin: 0 auto;
    font-weight: normal;

}

/* 外边距 */
.mt0 {
    margin-top: 0 !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.ml0 {
    margin-left: 0 !important;
}

.ml10 {
    margin-left: 10px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.ml30 {
    margin-left: 30px !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mr0 {
    margin-right: 0 !important;
}

.mr10 {
    margin-right: 10px !important;
}

/* 内边距 */
.pt0 {
    padding-top: 0 !important;
}

.pl0 {
    padding-left: 0 !important;
}

.pr0 {
    padding-right: 0 !important;
}

.pb0 {
    padding-bottom: 0 !important;
}