<template>
    <div class="home-page">
        <!-- 头部区域 -->
        <headers></headers>

        <!-- banner -->
        <el-carousel class="banner-box">
            <el-carousel-item v-for="item in bannerList" :key="item">
                <div class="banner-txt">
                    <em class="title" v-text="item.title"></em>
                    <p class="txt" v-html="item.desc"></p>
                </div>
                <img class="img" :src="item.img" alt="banner" />
            </el-carousel-item>
        </el-carousel>

        <!-- 焦点区域 -->
        <main class="main-box">
            <div class="content">
                <div class="left-nav">
                    <a class="item" :class="{ 'on': `isShow${index + 1}` == true }" v-for="(item, index) in leftNav"
                        @mouseover="navClick(index + 1)">
                        <img class="icons" :src="item.img" alt="图标">
                        <span class="txt" v-text="item.title"></span>
                    </a>
                </div>
                <div class="right-detail">
                    <div class="contents contents1" v-show="isShow1">
                        <div class="conts">
                            <h3 class="h3">企业简介</h3>
                            <p class="txt">
                                幸福时代数字技术有限公司、致力于通过数字技术重构传统汽车产业出行板块、将汽车与金融、业务场景与数字技术需求要素的重构组合、重新定义汽车全生命周期业务场景、来实现车辆互联、数据共享、交互若中心化、组织去中心化、从而提升汽车销售、到汽车消费应用、汽车售后全链路的价值和效率
                            </p>
                        </div>
                        <img src="http://sa9sfylac.hn-bkt.clouddn.com/main1.png" alt="企业简介" class="bg">
                    </div>
                    <div class="contents contents2" v-show="isShow2">
                        <div class="conts">
                            <h3 class="h3">企业理念</h3>
                            <p class="txt">
                                幸福时代数字技术有限公司、致力于通过数字技术重构传统汽车产业出行板块、将汽车与金融、业务场景与数字技术需求要素的重构组合、重新定义汽车全生命周期业务场景、来实现车辆互联、数据共享、交互若中心化、组织去中心化、从而提升汽车销售、到汽车消费应用、汽车售后全链路的价值和效率
                            </p>
                        </div>
                        <img src="http://sa9sfylac.hn-bkt.clouddn.com/main2.png" alt="企业简介" class="bg">
                    </div>
                    <div class="contents contents3" v-show="isShow3">
                        <div class="conts">
                            <h3 class="h3">企业使命</h3>
                            <p class="txt">
                                幸福时代数字技术有限公司、致力于通过数字技术重构传统汽车产业出行板块、将汽车与金融、业务场景与数字技术需求要素的重构组合、重新定义汽车全生命周期业务场景、来实现车辆互联、数据共享、交互若中心化、组织去中心化、从而提升汽车销售、到汽车消费应用、汽车售后全链路的价值和效率
                            </p>
                        </div>
                        <img src="http://sa9sfylac.hn-bkt.clouddn.com/main3.png" alt="企业简介" class="bg">
                    </div>
                </div>
            </div>
        </main>

        <!-- 内容列表 -->
        <div class="list-box" id="cont2">
            <div class="list-item list-item1">
                <div class="container">
                    <h3 class="h3">产品与服务</h3>
                    <ul class="grid-box">
                        <li class="items" v-for="item in serverList">
                            <h5 class="title" v-text="item.title"></h5>
                            <p class="txt" v-text="item.desc"></p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="list-item list-item2" id="cont3">
                <div class="container">
                    <h3 class="h3">智能技术赋能</h3>
                    <ul class="grid-box">
                        <li class="items" v-for="item in techniqueList">
                            <h5 class="title" v-text="item.title"></h5>
                            <p class="txt" v-text="item.desc"></p>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- <div class="list-item list-item3" id="cont4">
                <div class="container">
                    <h3 class="h3">项目案例</h3>
                    <ul class="grid-box">
                        <li class="items" v-for="item in caseList">
                            <img :src="item.img" alt="案例" class="img">
                            <p class="txt" v-text="item.txt"></p>
                        </li>
                    </ul>
                </div>
            </div> -->
            <!-- 合作伙伴 -->
            <div class="list-item list-item4" id="cont5">
                <div class="container">
                    <h3 class="h3">合作伙伴</h3>
                    <em class="em">正与众多客户一起创造更多价值</em>
                    <ul class="lists">
                        <li class="items" v-for="item in partnerList">
                            <img :src="item.img" alt="logo">
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- 加入我们 -->
        <div class="join-box" id="cont6">
            <img class="banner" src="http://sa9sfylac.hn-bkt.clouddn.com/join.png" alt="加入我们">
        </div>

        <!-- 版权区域 -->
        <copyright></copyright>

        <!-- 返回顶部 -->
        <div class="back-top">
            <el-backtop :right="100" :bottom="100" :visibility-height="800" />
        </div>
    </div>
</template>

<script setup>
import { ref, reactive, onMounted } from 'vue'
import { Toast } from '@/utils'
import Headers from '@/components/Header.vue'
import Copyright from '@/components/Copyright.vue'

const toast = Toast()

const bannerList = ref([
    {
        title: 'ShareStyle',
        desc: "为用户构建全域数字化的运营环境 <br> 成为用户最信赖的「数字化」数字化商业伙伴",
        img: 'http://sa9sfylac.hn-bkt.clouddn.com/banner.png',
    },
    {
        title: 'ShareStyle',
        desc: "为用户构建全域数字化的运营环境 <br> 成为用户最信赖的「数字化」数字化商业伙伴",
        img: 'http://sa9sfylac.hn-bkt.clouddn.com/banner.png',
    },
    {
        title: 'ShareStyle',
        desc: "为用户构建全域数字化的运营环境 <br> 成为用户最信赖的「数字化」数字化商业伙伴",
        img: 'http://sa9sfylac.hn-bkt.clouddn.com/banner.png',
    },
    {
        title: 'ShareStyle',
        desc: "为用户构建全域数字化的运营环境 <br> 成为用户最信赖的「数字化」数字化商业伙伴",
        img: 'http://sa9sfylac.hn-bkt.clouddn.com/banner.png',
    },
])

const leftNav = ref([
    {
        title: '企业简介',
        img: 'http://sa9sfylac.hn-bkt.clouddn.com/icon1.png'
    },
    {
        title: '企业理念',
        img: 'http://sa9sfylac.hn-bkt.clouddn.com/icon2.png'
    },
    {
        title: '企业使命',
        img: 'http://sa9sfylac.hn-bkt.clouddn.com/icon3.png'
    }
])

const index2 = ref([1, 2, 3])
const isShow1 = ref(true)
const isShow2 = ref(false)
const isShow3 = ref(false)

const serverList = ref([
    {
        title: '汽车销售终端数字化',
        desc: '构建数字化汽车销售与生活数字平台将消费者向消费商转变、从销售商品向经营用户转变、构建销售与生活的数字社区',
    },
    {
        title: '汽车销售终端数字化',
        desc: '构建数字化汽车销售与生活数字平台将消费者向消费商转变、从销售商品向经营用户转变、构建销售与生活的数字社区',
    },
    {
        title: '维修服务数字化',
        desc: '数字技术为维修终端构建新的用户交互界面、可以从原来的技术服务延伸到车辆状态管理、提供远程在线技术支持与诊断服务、实现商家与车与车辆故障和事故的监管通过车辆联网构建的数字社区可以提升用户体验',
    },
    {
        title: '产品要素增加',
        desc: '将产品、金融、应用技术、网联融合重构产品价值、创建场景需求和消费'
    },
    {
        title: '资产数字金融化',
        desc: '资产、金融和服务融合来提高资产流动性、资产、金融和场景融合提高资产收益和保值'
    }
])

const techniqueList = ref([
    {
        title: '采集存储',
        desc: '数据采集模块负责从车辆和传感器中获取数据数据储存模块用于储存采集到的数据、可以采用分布式和中心化储存'
    },
    {
        title: '处理分析',
        desc: '数据处理模块负责对采集到的数据进行清洗、转化、聚合数据分析模块用于处理后的数据惊喜统计和分析、提取有价值的信息'
    },
    {
        title: '展示交互',
        desc: '数据展示模块将处理和分析后的数据以大数据看板形式提供给运营数据交互模块提供用户与车联网平台之间的交互功能、如查询和设置'
    },
    {
        title: '安全隐私',
        desc: '安全模块用于保护平台数据和系统不受恶意攻击隐私保护模块负责保护用户和车辆隐私信息不被泄露'
    }
])

const caseList = ref([
    {
        txt: '案例111',
        img: 'http://sa9sfylac.hn-bkt.clouddn.com/case1.png'
    },
    {
        txt: '案例222',
        img: 'http://sa9sfylac.hn-bkt.clouddn.com/case2.png'
    },
    {
        txt: '案例333',
        img: 'http://sa9sfylac.hn-bkt.clouddn.com/case1.png'
    },
])

const partnerList = ref([
    { img: 'http://sa9sfylac.hn-bkt.clouddn.com/logo1.png' },
    { img: 'http://sa9sfylac.hn-bkt.clouddn.com/logo2.png' },
    { img: 'http://sa9sfylac.hn-bkt.clouddn.com/logo3.png' },
    { img: 'http://sa9sfylac.hn-bkt.clouddn.com/logo4.png' },
    { img: 'http://sa9sfylac.hn-bkt.clouddn.com/logo5.png' },
    { img: 'http://sa9sfylac.hn-bkt.clouddn.com/logo6.png' },
    { img: 'http://sa9sfylac.hn-bkt.clouddn.com/logo7.png' },
])

onMounted(async () => {
    await init()
})

function init() {
    console.log('init...')
}

function navClick(n) {
    console.log(n);
    if (n == 1) {
        isShow1.value = true
        isShow2.value = false
        isShow3.value = false
    }
    if (n == 2) {
        isShow2.value = true
        isShow1.value = false
        isShow3.value = false
    }
    if (n == 3) {
        isShow3.value = true
        isShow1.value = false
        isShow2.value = false
    }
}
</script>

<style class="scss" scoped>
.home-page {
    width: 100%;
    margin: 0 auto;

    .banner-box {
        width: 100%;
        height: 475px;

        &:deep(.el-carousel__container) {
            position: relative;
            width: 100% !important;
            height: 475px !important;
        }

        .banner-txt {
            position: absolute;
            top: 18%;
            left: 5%;
            z-index: 9;

            .title {
                display: block;
                color: #222;
                font-size: 72px;
            }

            .txt {
                margin-top: 20px;
                color: #333;
                font-size: 28px;
            }
        }

        .img {
            width: 100%;
            height: 100%;
        }
    }

    .main-box {
        .content {
            display: flex;
            padding: 64px 0;

            .left-nav {
                width: 282px;
                margin-right: 24px;

                .item {
                    position: relative;
                    display: block;
                    width: 282px;
                    height: 186px;
                    text-align: center;
                    color: #fff;
                    background-color: #271A0D;
                    cursor: pointer;
                    transition: all 0.1s;

                    .icons {
                        display: inline-block;
                        width: 88px;
                        height: 88px;
                        margin-top: 32px;
                    }

                    .txt {
                        display: block;
                        margin-top: 12px;
                        font-size: 16px;
                    }

                    &:hover {
                        background-color: #ff7b02;
                        transition: all 0.1s;
                    }
                }

                .item::after {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 9;
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: url('http://sa9sfylac.hn-bkt.clouddn.com/line.png');
                    background-size: 100% 100%;
                }

                .on {
                    background-color: #ff7b02;
                }
            }

            .right-detail {
                flex: 1;

                .contents {
                    position: relative;
                    height: 558px;

                    .conts {
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        z-index: 9;
                        color: #fff;
                        padding: 50px;

                        .h3 {
                            font-size: 26px;
                        }

                        .txt {
                            margin-top: 20px;
                            font-size: 14px;
                        }
                    }

                    .bg {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .list-box {
        .list-item {
            padding-top: 113px;
            padding-bottom: 100px;

            .h3 {
                margin-bottom: 64px;
                color: #222;
                font-size: 36px;
                text-align: center;
            }

            .grid-box {
                display: flex;
                justify-content: center;

                .items {
                    .title {
                        color: #333;
                        font-size: 18px;
                        font-weight: 500;
                    }

                    .txt {
                        margin-top: 15px;
                        color: #666;
                        font-size: 14px;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }

            }
        }

        .list-item1 {
            background: url('http://sa9sfylac.hn-bkt.clouddn.com/server-bg-v1.png') no-repeat;
            background-size: 100% 100%;

            .items {
                width: 25%;
                height: 380px;
                padding: 24px;
                margin-right: 20px;
                background-color: #fff;

            }
        }

        .list-item2 {
            .items {
                width: 25%;
                height: 380px;
                padding: 24px;
                margin-right: 1.5%;

                &:nth-child(1) {
                    background: url('http://sa9sfylac.hn-bkt.clouddn.com/server-bg1.png') no-repeat;
                    background-size: 100% 100%;
                }

                &:nth-child(2) {
                    background: url('http://sa9sfylac.hn-bkt.clouddn.com/server-bg2.png') no-repeat;
                    background-size: 100% 100%;
                }

                &:nth-child(3) {
                    background: url('http://sa9sfylac.hn-bkt.clouddn.com/server-bg3.png') no-repeat;
                    background-size: 100% 100%;
                }

                &:nth-child(4) {
                    background: url('http://sa9sfylac.hn-bkt.clouddn.com/server-bg4.png') no-repeat;
                    background-size: 100% 100%;
                }

                .title,
                .txt {
                    color: #fff !important;
                }
            }
        }

        .list-item3 {
            background-color: #FAF7F5;

            .items {
                margin-right: 30px;
                background-color: #fff;

                .img {
                    width: 100%;
                }

                .txt {
                    padding: 0 20px 15px;
                }
            }
        }

        .list-item4 {
            text-align: center;

            .container {
                width: 70%;
            }

            .h3 {
                margin-bottom: 30px;
            }

            .em {
                font-size: 18px;
            }

            .lists {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                width: 100%;
                margin: 50px auto 0;

                .items {
                    width: 250px;
                    height: 90px;
                    margin-right: 30px;
                    margin-bottom: 70px;
                }
            }
        }
    }

    .main-box .content,
    .list-item .container {
        width: 80%;
        margin: 0 auto;

        .items {
            .txt {
                line-height: 2;
            }
        }
    }

    .join-box {
        .banner {
            display: block;
            width: 100%;
        }
    }

    .back-top {
        position: fixed;
        right: 6%;
        bottom: 10%;
        z-index: 9;
        cursor: pointer;

        .btn {
            display: block;
            width: 50px;
            height: 50px;
        }
    }
}
</style>