<template>
    <div class="index-page">
        <main>我是index</main>
    </div>
</template>

<script setup>
import { useRoute } from 'vue-router'

const { query } = useRoute()

console.log(query.id)

</script>

<style lang="scss" scoped>
.index-page {}
</style>
