<template>
    <footer class="copyright-module">
        <!-- <div class="container">
            <div class="items-box">
                <div class="items">
                    <div class="title">产品与服务</div>
                    <div class="txt">汽车销售终端数字化</div>
                    <div class="txt">维修服务数字化</div>
                    <div class="txt">产品要素扩展和增加</div>
                    <div class="txt">资产数字金融化</div>
                </div>
                <div class="items">
                    <div class="title">智能技术赋能</div>
                    <div class="txt">采集存储</div>
                    <div class="txt">处理分析</div>
                    <div class="txt">展示交互</div>
                    <div class="txt">安全隐私</div>
                </div>
                <div class="items">
                    <div class="title">项目案例</div>
                    <div class="txt">xxx...</div>
                    <div class="txt">xxx...</div>
                    <div class="txt">xxx...</div>
                </div>
                <div class="items contact">
                    <div class="title">联系我们</div>
                    <div class="txt phone">136-8888-8888</div>
                    <div class="txt">深圳市邮编：518000</div>
                    <div class="txt">xxx...</div>
                </div>
                <div class="items code">
                    <img class="ewm-img" src="@/assets/imgs/ewm.png" alt="">
                    <div class="ewm-txt">官方微信</div>
                </div>
            </div>

        </div> -->
        <div class="footer">
            <p class="address">地址：深圳市龙华区硅谷大院T1栋</p>
            <div class="copyright">Copyright Ⓒ2024 幸福时代有限公司版权所有 粤ICP备XXXXXXX号-X</div>
        </div>
    </footer>
</template>

<script setup>
import { onMounted } from 'vue'
import { Toast } from '@/utils'

const toast = Toast()

onMounted(async () => {
    await init()
})

function init() {
    console.log('init...')
}

function btnClick() {
    toast.success('okk...')
}
</script>

<style class="scss" scoped>
.copyright-module {
    padding: 50px 0;
    background: #190F05;

    .container {
        width: 1092px;
        margin: 0 auto;
        padding: 45px 0 40px;
        text-align: left;
        white-space: nowrap;
        box-shadow: 0px -1.51351px 4.54054px rgba(0, 0, 0, 0.03);

        .items-box {
            display: flex;

            .items {
                width: 160px;
                margin-right: 30px;

                .title {
                    margin-bottom: 24px;
                    font-size: 18px;
                    color: #fff;
                    font-family: 'Alibaba PuHuiTi';
                }

                .txt {
                    margin-bottom: 12px;
                    line-height: 16px;
                    font-family: 'Alibaba PuHuiTi';
                    font-style: normal;
                    font-size: 12px;
                    color: #A68C74;
                }

                .phone {
                    color: #fff;
                    font-size: 24px;
                }

                .ewm-img {
                    display: block;
                    width: 108px;
                    height: 108px;
                    margin: 0 auto 20px;
                }

                .ewm-txt {
                    line-height: 16px;
                    font-family: 'Alibaba PuHuiTi';
                    font-style: normal;
                    font-size: 14px;
                    text-align: center;
                    color: #A68C74;
                }
            }

            .contact {
                margin-left: 100px;
            }

            .code {
                margin-left: 30px;
                text-align: center;
            }
        }
    }

    .footer {
        /* padding-top: 32px; */
        text-align: center;
        color: #A68C74;
        font-size: 12px;
        /* border-top: 1px solid #493929; */

        .copyright {
            margin-top: 12px;
        }
    }
}
</style>