<template>
    <header class="header-module">
        <div class="logo">
            <img class="img" src="http://sa9sfylac.hn-bkt.clouddn.com/logo.png" alt="logo" />
        </div>
        <nav class="nav">
            <ul class="ul">
                <li class="item" @click="navClick('cont1')">首页</li>
                <li class="item" @click="navClick('cont2')">产品与服务</li>
                <li class="item" @click="navClick('cont3')">智能技术赋能</li>
                <!-- <li class="item" @click="navClick('cont4')">项目案例</li> -->
                <li class="item" @click="navClick('cont5')">合作伙伴</li>
                <li class="item" @click="navClick('cont6')">加入我们</li>
            </ul>
        </nav>
    </header>
</template>

<script setup>
import { onMounted } from 'vue'
import { anchorPoint } from '@/utils'

function navClick(id) {
    anchorPoint(id)
}

onMounted(async () => {
    await init()
})

function init() {
    console.log('init...')
}
</script>

<style class="scss" scoped>
.header-module {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 100px;
    background-color: #fff;

    .logo {
        display: flex;
        align-items: center;
        flex: 1;
        height: 100%;

        .img {
            width: 18%;
        }
    }

    .nav {
        height: 100%;

        .ul {
            display: flex;
            align-items: center;
            height: 100%;

            .item {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                margin-left: 48px;
                cursor: pointer;
                color: #333;
                font-size: 16px;
                transition: all 0.3s;
                border-bottom: 2px solid transparent;

                &:hover {
                    color: #FF7B02;
                    transition: all 0.3s;
                    border-bottom: 2px solid #FF7B02;
                }
            }
        }
    }
}
</style>